*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

@font-face{
    font-family: 'Bebas';
    src: url('../fontes/BebasNeue-Regular.ttf');
    font-weight: normal;
}

:root{
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas', cursiva;
    --fonte-android: 'Android', cursive;
}

.cabecalho{
    height: 650px;
    background-image: url(./img/hi2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}