<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Tema de casa</title>
</head>
<body>
    <section class="body">
        <section class="container">
            <header class="cabecalho">
                <div class="skew">
                    <div class="content"></div>
                </div><!--skew-->
            </header><!--cabecalho-->

            <!--divs vermelho e branco-->
            <div class="v"></div>
            <div class="b"></div>
            <div class="v"></div>
            <div class="b"></div>
            <!--divs vermelho e azul-->

            <!--grid-->
            <section class="container03">
                <div class="vertical"></div>
                <div class="verde"></div>
                <div class="preto"></div>
            </section>
            <!--grid-->

            <section class="container02">
                <div class="item"><!--item-->
                    <div class="bg_vermelho"></div>
                </div><!--item-->

                <div class="item"><!--item-->
                    <div class="bg_amarelo"></div>
                </div><!--item-->

                <div class="item"><!--item-->
                    <div class="bg_verde"></div>
                </div><!--item-->
            </section>

        </section><!--container01-->
    </section><!--body-->
    
</body>
</html>